/* CONTEUDO PRINCIPAL */

.banner-principal {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;

    /* overflow: hidden; evita que os elementos transbordem */

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}

.texto-banner {
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 60%;
}

.botao {
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}

.botao:hover {
    background-color: #2ab2ab;
    color: var(--branco);
}

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}

/* Titúlo das seções */

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
}

/* Seção beneficios */

.beneficios {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 100px;
}

.beneficios-lista {
    display: grid;

    grid-template-columns: repeat(3, 20%);
    gap: 10%;

    justify-content: center;            
}

.beneficio {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px; /* Encima - Esquerda e Direita - Baixo */

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25); /* X - Y - Blur - Cor com transparencia */

    text-align: center;

    /* Cria referencia de posicionamento para o icone, quando o icone for posicionado usa esse card como referencia. */
    /* Sem isso o circulo poderia usar outro elemento da pagina como referencia e sair passeando pelo layout. */
    position: relative;
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);
    border-radius: 50%;

    width: 35%;
    height: 30%;

    /* Retira o icone do fluxo normal com o absolute ele pode ficar por cima do card */
    position: absolute;

    /* Move o circulo para cima, o valor negativo faz ele sair parcialmente do card */
    top: -15%;

    /* Coloca o começo do elemento em 50% da largura do card */
    left: 50%;

    /* Ajustamos o posicionamento do elemento mas a borda esquerda do circulo fica no centr, não o circulo inteiro.
     por isso usamos o transform: que move o propio circulo para a esquerda em 50% da largura
     dele fazendo com que o circulo fique perfeitamente centralizado. */
    transform: translateX(-50%);

    display: grid;
    place-items: center;

    /* place-items: center; é a mesma coisa que colocar:
    align-itens: center e justify-items: center; */
}

.beneficio h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;
}

.beneficio p {
    font-size: 1em;
    width: 80%;
}

/* Banner meio */

.banner-meio {
    height: 60vh;
    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;
    /* background-repeat: no-repeat; */


    display: flex;
    justify-content: flex-end;

    padding: 0 120px;
    color: var(--branco);

    margin-bottom: 50px;
}

/* Seção Livros Recomendados*/

.recomendados {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui espaço entre elementos */
    gap: 100px; /* Espaço entre título e grid de livros */
    
    padding: 50px 120px;
    align-items: center;
}

.livros-colecao {
    display: grid;

    grid-template-columns: repeat(4, auto);
    gap: 10%; /* Espaço entre livros (10% de cada coluna) */

    justify-content: center;            
}

.area-livros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    text-align: center;
    gap: 20px; /* Espaço entre imagem, título e autor */
}

.area-livros img {
    width: 100;
    height: 300px;
}

.titulo-livro h3 {
    font-size: 1.2em;
    text-transform: uppercase;
}

.autores h4 {
    font-size: 1em;
    margin-bottom: 5px;
}

/* Rodape */

.rodape {
    background-color: var(--azul-escuro);
    margin-top: 100px;
    padding: 50px 120px; /* Espaço interno: 50px (cima/baixo) e 120px (lados) */
}

.rodape-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;

    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--branco); /* Linha divisoria */
}

.rodape-logos {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaço entre as logos*/
    align-items: flex-start; /* Alinhar no começo (esquerda) */
}

.rodape-logos img {
    height: 50px;
    object-fit: contain; /* Mantem proporção sem cortar */
}

.rodape-direita {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rodape-colunas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px; /* Espaço entre colunas */
}

.rodape-coluna {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre título e links */
}

.rodape-coluna h3 {
    color: var(--cor-destaque);
    font-size: 0.95em;                
    margin-bottom: 10px;   
}

.rodape-coluna a {
    color: var(--branco);                   
    font-size: 0.9em;                       
    transition: color 0.3s; /* Transição suave de cor */
}

.rodape-coluna a:hover {
    color: var(--cor-destaque); /* Link fica turquesa ao passar mouse */
}

.rodape-redes-sociais {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    align-items: center;
}

.rodape-redes-sociais h3 {
    color: var(--cor-destaque);            
    font-size: 0.95em;                                 
}

.icones-redes {
    display: flex;                          
    gap: 20px; /* Espaço entre ícones */
}

.icons-redes a {
    display: flex; /* Para centralizar ícone dentro */
    align-items: center;                    
    justify-content: center;                
}

.icones-redes img {
    width: 30px;                           
    height: 30px;                       
    transition: transform 0.3s; /* Transição de transformação suave */
}

.icones-redes a:hover img {
    transform: scale(1.2); /* Aumenta ícone 20% ao passar mouse */
}

.rodape-base {
    display: flex;                          
    justify-content: space-between; /* Separa copyright e links */          
    font-size: 0.85em;                      
}

.rodape-base p {
    color: var(--branco);               
}

.links-base {
    display: flex;                          
    gap: 50px; /* Espaço entre links */
}

.links-base a {
    color: var(--branco);                  
    font-size: 0.9em;                      
    transition: color 0.3s; /* Transição suave */
}

.links-base a:hover {
    color: var(--cor-destaque); /* Muda para turquesa ao passar mouse */
}

/* RESPONSIVIDADE */
.botao-menu {
    background: transparent;
    border: none;
    cursor: pointer;

    display: none; /* esconde o elemento */
}

.botao-menu i {
    font-size: 2em;

    color: var(--branco);
}

/* RESPONSIVIDADE COM TAMANHOS -> MEDIA QUERY */

@media (max-width: 1024px) {
    html {
        font-size: 12px;
    }

    .cabecalho img {
        width: 60%;
    }

    .texto-banner h1 {
        text-align: center;
    }

    /* BENEFÍCIOS */

    .beneficios {
        gap: 50px;

        padding: 30px 0;

        overflow: hidden;
    }

    .beneficios-lista {
        grid-template-columns: repeat(3, 30%);

        overflow-x: scroll; /* permite que o objeto role para o lado */

        padding: 50px 20px;

        justify-content: flex-start;
    }

    .beneficios-lista::-webkit-scrollbar {
        display: none;
    }

    .beneficio {
        padding: 80px 10px 50px;
    }

    .beneficio h3 {
        margin-bottom: 25px;
        width: 60%;
    }

    .beneficio p {
        width: 60%;
    }

    /* BANNER MEIO */

    .banner-meio {
        background-position: center;
        padding: 0 30px;
    }

    .banner-meio .texto-banner {
        align-items: flex-end;
    }

    .banner-meio .texto-banner p {
        text-align: right;
    }

    /* ACERVO */

    .livros-colecao { 
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

        gap: 40px 20px;
    }

    .area-livros img {
        max-width: 100%;
    }

}

@media (max-width: 760px) {
    .header {
        padding: 0 40px;

        position: relative;
    }

    .botao-menu {
        /* faz o menu hamburguer aparecer novamente */
        display: flex;
    }

    .navigation {
        background-color: var(--azul-escuro);

        position: absolute;

        /* distancia de 10vh no topo */
        top: 10vh;

        /* Encosta na esquerda */
        left: 0;

        width: 100%;
        height: auto;

        padding: 40px;

        border-radius: 0 0 0 30px;

        flex-direction: column;
        align-items: flex-end;

        gap: 20px;

        /* so funciona com position, quanto maior mais pra cima esse elemento fica */
        z-index: 100;

        display: none;
    }

    /* elemento com 2 classes não tem espaço no css. */
    .navigation.ativo {
        display: flex;
    }

    .banner-principal {
        height: 50vh;

        padding: 30px 0 10px 0;

        position: relative;
    }

    .banner-principal .texto-banner {
        width: 100%;
        height: 100%;

        align-items: center;
        justify-content: space-between;
    }

    .banner-principal .texto-banner h1 {
        font-size: 2em;
    }

    .banner-principal .texto-banner p {
        display: none;
    }

    .banner-principal img {
        width: 40%;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        z-index: 1;
    }

    .banner-principal .botao{
        padding: 20px 40px;

        font-size: 1.2em;

        z-index: 2;
    }

    /* BENEFICIOS */

    .beneficios-lista {
        grid-template-columns: repeat(3, 45%);
    }

    .beneficio-icone img {
        width: 40%;
    }

    /* BANNER MEIO */
    .banner-meio .texto-banner {
        display: none;
    }

    /* RODAPE */

    .rodape {
        padding: 60px 40px 20px;
    }

    .rodape-conteudo {
        display: flex;
        flex-direction: column;
        gap: 50px;
     }

    .rodape-colunas {
        display: flex;
        justify-content: space-between;
    }

    .rodape-redes-sociais {
        display: flex;
        justify-content: space-between;
    }

    .rodape-redes-sociais img {
        width: 25px;
    }

    .icones-redes {
        gap: 20px;
    }

    .rodape-conteudo h3 {
        font-size: 1.4em;
    }

    .rodape-conteudo a {
        font-size: 1.2em;
    }

    .rodape-base p,
    .rodape-base a {
        font-size: 1.2em;
    }

    .rodape-logos {
        display: flex;
        flex-direction: row;
    }

    .rodape-logos img {
        width: 40%;
    }

    .rodape-base {
        display: flex;
        flex-direction: row;
    }

    .links-base {
        flex-direction: column;
        gap: 20px;
        text-align: right;
    }
}

@media (max-width: 500px) {
    .banner-principal img {
        width: 70%;
    }

    .beneficios-lista {
        grid-template-columns: repeat(3, 65%);
    }

    .beneficio-icone {
        width: 35%;
    }

    .banner-meio {
        background-position: 40%;
    }

    /* FOOTER */

    .rodape-conteudo {
        gap: 50px;
    }

    .rodape-colunas {
        display: flex;
        flex-direction: column;
    }

    .rodape-logos {
        align-items: flex-start;
        flex-direction: column;
    }

    .rodape-logos img {
        width: 100%;
    }

    .icones-redes img {
        width: 80%;
    }

    .rodape-base {
        flex-direction: column;
        gap: 40px;
    }

    .links-base {
        gap: 10px;
        text-align: left;
    }





    
}